/*
Linkbreakers API

This is a documentation of all the APIs of Linkbreakers

API version: 1.46.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package linkbreakers

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// EventsAPIService EventsAPI service
type EventsAPIService service

type ApiEventsServiceListEventTracesRequest struct {
	ctx context.Context
	ApiService *EventsAPIService
	eventId string
}

func (r ApiEventsServiceListEventTracesRequest) Execute() (*ListEventTracesResponse, *http.Response, error) {
	return r.ApiService.EventsServiceListEventTracesExecute(r)
}

/*
EventsServiceListEventTraces List event traces

Retrieves all workflow step traces for an event, ordered by completion time. Useful for analyzing user engagement and workflow progression.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param eventId Event ID to get traces for (UUID)
 @return ApiEventsServiceListEventTracesRequest
*/
func (a *EventsAPIService) EventsServiceListEventTraces(ctx context.Context, eventId string) ApiEventsServiceListEventTracesRequest {
	return ApiEventsServiceListEventTracesRequest{
		ApiService: a,
		ctx: ctx,
		eventId: eventId,
	}
}

// Execute executes the request
//  @return ListEventTracesResponse
func (a *EventsAPIService) EventsServiceListEventTracesExecute(r ApiEventsServiceListEventTracesRequest) (*ListEventTracesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListEventTracesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.EventsServiceListEventTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/events/{eventId}/traces"
	localVarPath = strings.Replace(localVarPath, "{"+"eventId"+"}", url.PathEscape(parameterValueToString(r.eventId, "eventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEventsServiceListEventsRequest struct {
	ctx context.Context
	ApiService *EventsAPIService
	linkId *string
	startDate *time.Time
	endDate *time.Time
	responseFormat *string
	pageSize *int64
	pageToken *string
	include *[]string
}

// Filter events to a specific link (optional, UUID)  Optional
func (r ApiEventsServiceListEventsRequest) LinkId(linkId string) ApiEventsServiceListEventsRequest {
	r.linkId = &linkId
	return r
}

// Inclusive start timestamp for the query window (workspace timezone aware). Note: For free plan workspaces, this will be automatically adjusted to not go back more than 2 weeks. For light plan workspaces, this will be automatically adjusted to not go back more than 3 months.
func (r ApiEventsServiceListEventsRequest) StartDate(startDate time.Time) ApiEventsServiceListEventsRequest {
	r.startDate = &startDate
	return r
}

// Inclusive end timestamp for the query window
func (r ApiEventsServiceListEventsRequest) EndDate(endDate time.Time) ApiEventsServiceListEventsRequest {
	r.endDate = &endDate
	return r
}

// Desired response format (defaults to RESPONSE_FORMAT_JSON; use RESPONSE_FORMAT_CSV for exports)   - RESPONSE_FORMAT_UNSPECIFIED: Response format not specified  - RESPONSE_FORMAT_JSON: Response format JSON  - RESPONSE_FORMAT_CSV: Response format CSV
func (r ApiEventsServiceListEventsRequest) ResponseFormat(responseFormat string) ApiEventsServiceListEventsRequest {
	r.responseFormat = &responseFormat
	return r
}

// Maximum number of events to return (default: 100, max: 1000)  Maximum number of events to return (default: 100, max: 1000)
func (r ApiEventsServiceListEventsRequest) PageSize(pageSize int64) ApiEventsServiceListEventsRequest {
	r.pageSize = &pageSize
	return r
}

// Cursor token to retrieve the next page of results  Cursor token to retrieve the next page of results
func (r ApiEventsServiceListEventsRequest) PageToken(pageToken string) ApiEventsServiceListEventsRequest {
	r.pageToken = &pageToken
	return r
}

// Optional list of relationships to include: visitor, device, link, workspace, leadScore  Optional list of relationships to include: visitor, device, link, workspace, leadScore
func (r ApiEventsServiceListEventsRequest) Include(include []string) ApiEventsServiceListEventsRequest {
	r.include = &include
	return r
}

func (r ApiEventsServiceListEventsRequest) Execute() (*ListEventsResponse, *http.Response, error) {
	return r.ApiService.EventsServiceListEventsExecute(r)
}

/*
EventsServiceListEvents List events

Retrieves the workspace's event timeline, returning paginated JSON by default or CSV payloads for reporting exports. For workspaces on the free plan, events older than 2 weeks are restricted, and for light plan workspaces, events older than 3 months are restricted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEventsServiceListEventsRequest
*/
func (a *EventsAPIService) EventsServiceListEvents(ctx context.Context) ApiEventsServiceListEventsRequest {
	return ApiEventsServiceListEventsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListEventsResponse
func (a *EventsAPIService) EventsServiceListEventsExecute(r ApiEventsServiceListEventsRequest) (*ListEventsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListEventsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EventsAPIService.EventsServiceListEvents")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.linkId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "linkId", r.linkId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFormat", r.responseFormat, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
