/*
Linkbreakers API

This is a documentation of all the APIs of Linkbreakers  ## Entry points  `GET https://api.linkbreakers.com/` and `GET https://api.linkbreakers.com/v1` answer without credentials with the API's name, version and links. This document is served at `https://api.linkbreakers.com/openapi.json`.  ## Rate limits  Every response describes where the caller stands in the IETF `RateLimit-Policy` and `RateLimit` header fields (draft-ietf-httpapi-ratelimit-headers), and in `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` and `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` (a Unix timestamp) for clients that read those. A request past the limit gets `429 Too Many Requests` with `Retry-After` in seconds.  - Workspace API token: 600 requests per 60 seconds, per token. - Dashboard session or OAuth token: 500 requests per 60 seconds, per token. - No credentials: 300 requests per 60 seconds, per client IP.  Each plan also includes a number of API calls per billing cycle. Past it, calls answer `429` with the code `MAX_PUBLIC_API_QUERIED_REACHED` until the cycle renews or the plan changes.  ## Pagination  Every list pages with opaque cursors (AIP-158). Pass `pageSize`, then send the `nextPageToken` of each response back as `pageToken` (or its alias `cursor`) to get the next page. An empty or absent `nextPageToken` means the list is complete. Each list operation describes this in `x-pagination`.  ## Batches and background jobs  `POST /v1/links/bulk` creates up to 250 links in one transactional request; `POST /v1/links/batch` takes the same links as a bare JSON array. `POST /v1/links/bulk/jobs` accepts the same batch and answers `202 Accepted` at once with a job and a `Location` header; poll `GET /v1/jobs/{id}` until `status` is `JOB_STATUS_SUCCEEDED` (the created link ids are in `linksBulkCreate.linkIds`) or `JOB_STATUS_FAILED` (`error` says why, and nothing was created). Jobs can be read for 24 hours after they finish.  ## Versioning and deprecation  The version is in the path: every operation lives under `/v1`. Within a version, changes are additive only: new operations, new optional request fields, new response fields and new enum values. Clients should ignore fields and enum values they do not know. Anything that would break an existing client ships under a new path version instead.  An operation is retired in two steps. First it is deprecated: it keeps working, is flagged `deprecated: true` in this document, and every response carries a `Deprecation` header field (RFC 9745) with the time it was deprecated and a `Link` with `rel=\"deprecation\"` to the policy. Then, at least 180 days later, it may be removed; that date is announced in advance in a `Sunset` header field (RFC 8594) and as `x-sunset` on the operation. The full policy: https://linkbreakers.com/help/article/api-versioning-and-deprecation-policy  ## Idempotent retries  Every POST, PUT and PATCH accepts an optional `Idempotency-Key` header (draft-ietf-httpapi-idempotency-key-header). Send a new unique value, such as a UUID, with each logical request and reuse it only to retry that request. A retry with the same key and the same request returns the first response, marked `Idempotent-Replayed: true`, instead of running again. Keys are scoped to the token and kept for 24 hours. The same key with a different request is refused with `422`, and a retry while the first request is still running gets `409` with `Retry-After`. Server errors (5xx) and refusals such as 401, 403 and 429 are not stored, so retrying them runs the request again.

API version: 1.162.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package linkbreakers

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// PageThemeTemplatesAPIService PageThemeTemplatesAPI service
type PageThemeTemplatesAPIService service

type ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	createPageThemeTemplateRequest *CreatePageThemeTemplateRequest
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest) CreatePageThemeTemplateRequest(createPageThemeTemplateRequest CreatePageThemeTemplateRequest) ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest {
	r.createPageThemeTemplateRequest = &createPageThemeTemplateRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest) Execute() (*CreatePageThemeTemplateResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceCreatePageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServiceCreatePageThemeTemplate Create a new page theme template

Create a page theme template by copying the styling of an existing page theme into a fresh detached theme owned by the template.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceCreatePageThemeTemplate(ctx context.Context) ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest {
	return ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreatePageThemeTemplateResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceCreatePageThemeTemplateExecute(r ApiPageThemeTemplatesServiceCreatePageThemeTemplateRequest) (*CreatePageThemeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreatePageThemeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceCreatePageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createPageThemeTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("createPageThemeTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.createPageThemeTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	id string
}

func (r ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceDeletePageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServiceDeletePageThemeTemplate Delete a workspace page theme template

Remove a page theme template belonging to the authenticated caller's workspace. Pages already styled from it are unaffected.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceDeletePageThemeTemplate(ctx context.Context, id string) ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest {
	return ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceDeletePageThemeTemplateExecute(r ApiPageThemeTemplatesServiceDeletePageThemeTemplateRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceDeletePageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	id string
	include *[]string
}

func (r ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest) Include(include []string) ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest {
	r.include = &include
	return r
}

func (r ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest) Execute() (*PageThemeTemplate, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceGetPageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServiceGetPageThemeTemplate Get a workspace page theme template

Retrieve a page theme template that belongs to the authenticated caller's workspace.

Requires the `page_themes:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceGetPageThemeTemplate(ctx context.Context, id string) ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest {
	return ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PageThemeTemplate
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceGetPageThemeTemplateExecute(r ApiPageThemeTemplatesServiceGetPageThemeTemplateRequest) (*PageThemeTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PageThemeTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceGetPageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	importPageThemeTemplateRequest *ImportPageThemeTemplateRequest
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest) ImportPageThemeTemplateRequest(importPageThemeTemplateRequest ImportPageThemeTemplateRequest) ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest {
	r.importPageThemeTemplateRequest = &importPageThemeTemplateRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest) Execute() (*ImportPageThemeTemplateResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceImportPageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServiceImportPageThemeTemplate Import a public page theme template

Import a public page theme template into your workspace by slug. Creates a private copy owned by your workspace.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceImportPageThemeTemplate(ctx context.Context) ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest {
	return ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ImportPageThemeTemplateResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceImportPageThemeTemplateExecute(r ApiPageThemeTemplatesServiceImportPageThemeTemplateRequest) (*ImportPageThemeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ImportPageThemeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceImportPageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importPageThemeTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("importPageThemeTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.importPageThemeTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	include *[]string
	search *string
	pageSize *int64
	pageToken *string
	scope *string
	cursor *string
}

func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) Include(include []string) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.include = &include
	return r
}

func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) Search(search string) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.search = &search
	return r
}

func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) PageSize(pageSize int64) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) PageToken(pageToken string) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.pageToken = &pageToken
	return r
}

// Which templates to return. WORKSPACE (default) returns only templates owned by the caller&#39;s workspace. AVAILABLE also returns built-in templates and templates other workspaces have published, ordered by the workspace&#39;s own usage first, then its own templates, then the rest.   - PAGE_THEME_TEMPLATE_SCOPE_UNSPECIFIED: Defaults to PAGE_THEME_TEMPLATE_SCOPE_WORKSPACE.  - PAGE_THEME_TEMPLATE_SCOPE_WORKSPACE: Only templates owned by the caller&#39;s workspace.  - PAGE_THEME_TEMPLATE_SCOPE_AVAILABLE: Every template the workspace may use: its own, built-in ones, and templates published by other workspaces.
func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) Scope(scope string) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.scope = &scope
	return r
}

// Opaque cursor from the previous page&#39;s nextPageToken. Same as pageToken; when both are sent, pageToken wins.
func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) Cursor(cursor string) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) Execute() (*ListPageThemeTemplatesResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceListPageThemeTemplatesExecute(r)
}

/*
PageThemeTemplatesServiceListPageThemeTemplates List my page theme templates

Retrieve page theme templates that belong to the authenticated caller's workspace.

Requires the `page_themes:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceListPageThemeTemplates(ctx context.Context) ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest {
	return ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListPageThemeTemplatesResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceListPageThemeTemplatesExecute(r ApiPageThemeTemplatesServiceListPageThemeTemplatesRequest) (*ListPageThemeTemplatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListPageThemeTemplatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceListPageThemeTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	slug string
	include *[]string
}

// Related objects to include in the response  List of related objects to include. Supported values: &#39;workspace&#39;
func (r ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest) Include(include []string) ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest {
	r.include = &include
	return r
}

func (r ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest) Execute() (*PublicPageThemeTemplate, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServicePublicGetPageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServicePublicGetPageThemeTemplate Get a public page theme template

Retrieve a single published page theme template that is visible in the public gallery.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param slug
 @return ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublicGetPageThemeTemplate(ctx context.Context, slug string) ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest {
	return ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		slug: slug,
	}
}

// Execute executes the request
//  @return PublicPageThemeTemplate
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublicGetPageThemeTemplateExecute(r ApiPageThemeTemplatesServicePublicGetPageThemeTemplateRequest) (*PublicPageThemeTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicPageThemeTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServicePublicGetPageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/public/page-theme-templates/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	include *[]string
	search *string
	pageSize *int64
	pageToken *string
	workspaceId *string
	cursor *string
}

// Related objects to include in the response  List of related objects to include. Supported values: &#39;workspace&#39;
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) Include(include []string) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.include = &include
	return r
}

// Search query applied to template name/description
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) Search(search string) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.search = &search
	return r
}

// Maximum number of templates to return (defaults to 20)
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) PageSize(pageSize int64) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.pageSize = &pageSize
	return r
}

// Cursor token to retrieve the next page of results
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) PageToken(pageToken string) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.pageToken = &pageToken
	return r
}

// Optional workspace ID to filter templates by workspace  Filter public templates by workspace. Only published templates for that workspace will be returned.
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) WorkspaceId(workspaceId string) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.workspaceId = &workspaceId
	return r
}

// Opaque cursor from the previous page&#39;s nextPageToken. Same as pageToken; when both are sent, pageToken wins.
func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) Cursor(cursor string) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	r.cursor = &cursor
	return r
}

func (r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) Execute() (*PublicListPageThemeTemplatesResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServicePublicListPageThemeTemplatesExecute(r)
}

/*
PageThemeTemplatesServicePublicListPageThemeTemplates List page theme templates

Retrieve available public page theme templates, optionally filtered by search terms.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublicListPageThemeTemplates(ctx context.Context) ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest {
	return ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PublicListPageThemeTemplatesResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublicListPageThemeTemplatesExecute(r ApiPageThemeTemplatesServicePublicListPageThemeTemplatesRequest) (*PublicListPageThemeTemplatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicListPageThemeTemplatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServicePublicListPageThemeTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/public/page-theme-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	id string
	body *map[string]interface{}
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest) Body(body map[string]interface{}) ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest {
	r.body = &body
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest) Execute() (*PublishPageThemeTemplateResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServicePublishPageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServicePublishPageThemeTemplate Publish a workspace page theme template

Publish a page theme template to make it available in the public gallery. Requires workspace to be public and template to have slug, description, and name.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the page theme template to publish (UUID)
 @return ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublishPageThemeTemplate(ctx context.Context, id string) ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest {
	return ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PublishPageThemeTemplateResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServicePublishPageThemeTemplateExecute(r ApiPageThemeTemplatesServicePublishPageThemeTemplateRequest) (*PublishPageThemeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublishPageThemeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServicePublishPageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/{id}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	resolvePageThemeTemplateImagesRequest *ResolvePageThemeTemplateImagesRequest
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest) ResolvePageThemeTemplateImagesRequest(resolvePageThemeTemplateImagesRequest ResolvePageThemeTemplateImagesRequest) ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest {
	r.resolvePageThemeTemplateImagesRequest = &resolvePageThemeTemplateImagesRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest) Execute() (*ResolvePageThemeTemplateImagesResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceResolvePageThemeTemplateImagesExecute(r)
}

/*
PageThemeTemplatesServiceResolvePageThemeTemplateImages Resolve page theme template images

Return freshly signed thumbnail, cover and badge URLs for the given templates. The URLs expire, so callers fetch them when they need to render rather than storing them.

Requires the `page_themes:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceResolvePageThemeTemplateImages(ctx context.Context) ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest {
	return ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ResolvePageThemeTemplateImagesResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceResolvePageThemeTemplateImagesExecute(r ApiPageThemeTemplatesServiceResolvePageThemeTemplateImagesRequest) (*ResolvePageThemeTemplateImagesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResolvePageThemeTemplateImagesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceResolvePageThemeTemplateImages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/images:resolve"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.resolvePageThemeTemplateImagesRequest == nil {
		return localVarReturnValue, nil, reportError("resolvePageThemeTemplateImagesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.resolvePageThemeTemplateImagesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	id string
	pageThemeTemplatesServiceUpdatePageThemeTemplateBody *PageThemeTemplatesServiceUpdatePageThemeTemplateBody
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest) PageThemeTemplatesServiceUpdatePageThemeTemplateBody(pageThemeTemplatesServiceUpdatePageThemeTemplateBody PageThemeTemplatesServiceUpdatePageThemeTemplateBody) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest {
	r.pageThemeTemplatesServiceUpdatePageThemeTemplateBody = &pageThemeTemplatesServiceUpdatePageThemeTemplateBody
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest) Execute() (*UpdatePageThemeTemplateResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceUpdatePageThemeTemplateExecute(r)
}

/*
PageThemeTemplatesServiceUpdatePageThemeTemplate Update a workspace page theme template

Modify the metadata of a page theme template owned by the authenticated workspace.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the page theme template to update (UUID)
 @return ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceUpdatePageThemeTemplate(ctx context.Context, id string) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest {
	return ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UpdatePageThemeTemplateResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceUpdatePageThemeTemplateExecute(r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateRequest) (*UpdatePageThemeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdatePageThemeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceUpdatePageThemeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pageThemeTemplatesServiceUpdatePageThemeTemplateBody == nil {
		return localVarReturnValue, nil, reportError("pageThemeTemplatesServiceUpdatePageThemeTemplateBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.pageThemeTemplatesServiceUpdatePageThemeTemplateBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest struct {
	ctx context.Context
	ApiService *PageThemeTemplatesAPIService
	id string
	pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody *PageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody
	idempotencyKey *string
}

func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest) PageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody(pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody PageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest {
	r.pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody = &pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest) IdempotencyKey(idempotencyKey string) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest) Execute() (*UpdatePageThemeTemplateStylingResponse, *http.Response, error) {
	return r.ApiService.PageThemeTemplatesServiceUpdatePageThemeTemplateStylingExecute(r)
}

/*
PageThemeTemplatesServiceUpdatePageThemeTemplateStyling Update a page theme template's styling

Edit the colours, typography, container and media of a page theme template. Queues a thumbnail regeneration.

Requires the `page_themes:write` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the page theme template whose styling to update (UUID)
 @return ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest
*/
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceUpdatePageThemeTemplateStyling(ctx context.Context, id string) ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest {
	return ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UpdatePageThemeTemplateStylingResponse
func (a *PageThemeTemplatesAPIService) PageThemeTemplatesServiceUpdatePageThemeTemplateStylingExecute(r ApiPageThemeTemplatesServiceUpdatePageThemeTemplateStylingRequest) (*UpdatePageThemeTemplateStylingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdatePageThemeTemplateStylingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PageThemeTemplatesAPIService.PageThemeTemplatesServiceUpdatePageThemeTemplateStyling")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/page-theme-templates/{id}/styling"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody == nil {
		return localVarReturnValue, nil, reportError("pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.pageThemeTemplatesServiceUpdatePageThemeTemplateStylingBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
