/*
Linkbreakers API

This is a documentation of all the APIs of Linkbreakers

API version: 1.46.1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package linkbreakers

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// QRCodeTemplatesAPIService QRCodeTemplatesAPI service
type QRCodeTemplatesAPIService service

type ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	createQrcodeTemplateRequest *CreateQrcodeTemplateRequest
}

func (r ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest) CreateQrcodeTemplateRequest(createQrcodeTemplateRequest CreateQrcodeTemplateRequest) ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest {
	r.createQrcodeTemplateRequest = &createQrcodeTemplateRequest
	return r
}

func (r ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest) Execute() (*CreateQrcodeTemplateResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceCreateQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServiceCreateQrcodeTemplate Create a new QR code template

Create a new QR code template using a fresh design. The design must not be used by any other links or templates.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceCreateQrcodeTemplate(ctx context.Context) ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateQrcodeTemplateResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceCreateQrcodeTemplateExecute(r ApiQrcodeTemplatesServiceCreateQrcodeTemplateRequest) (*CreateQrcodeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateQrcodeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceCreateQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createQrcodeTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("createQrcodeTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createQrcodeTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	id string
}

func (r ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceDeleteQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServiceDeleteQrcodeTemplate Delete a workspace QR code template

Remove a QR code template belonging to the authenticated caller's workspace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceDeleteQrcodeTemplate(ctx context.Context, id string) ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceDeleteQrcodeTemplateExecute(r ApiQrcodeTemplatesServiceDeleteQrcodeTemplateRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceDeleteQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	id string
	include *[]string
}

func (r ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest) Include(include []string) ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest {
	r.include = &include
	return r
}

func (r ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest) Execute() (*QrcodeTemplate, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceGetQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServiceGetQrcodeTemplate Get a workspace QR code template

Retrieve a QR code template that belongs to the authenticated caller's workspace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceGetQrcodeTemplate(ctx context.Context, id string) ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return QrcodeTemplate
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceGetQrcodeTemplateExecute(r ApiQrcodeTemplatesServiceGetQrcodeTemplateRequest) (*QrcodeTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QrcodeTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceGetQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	importQrcodeTemplateRequest *ImportQrcodeTemplateRequest
}

func (r ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest) ImportQrcodeTemplateRequest(importQrcodeTemplateRequest ImportQrcodeTemplateRequest) ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest {
	r.importQrcodeTemplateRequest = &importQrcodeTemplateRequest
	return r
}

func (r ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest) Execute() (*ImportQrcodeTemplateResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceImportQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServiceImportQrcodeTemplate Import a public QR code template

Import a public QR code template into your workspace by slug. Creates a private copy owned by your workspace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceImportQrcodeTemplate(ctx context.Context) ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ImportQrcodeTemplateResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceImportQrcodeTemplateExecute(r ApiQrcodeTemplatesServiceImportQrcodeTemplateRequest) (*ImportQrcodeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ImportQrcodeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceImportQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates/import"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importQrcodeTemplateRequest == nil {
		return localVarReturnValue, nil, reportError("importQrcodeTemplateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.importQrcodeTemplateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	include *[]string
	search *string
	pageSize *int64
	pageToken *string
}

func (r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) Include(include []string) ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest {
	r.include = &include
	return r
}

func (r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) Search(search string) ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest {
	r.search = &search
	return r
}

func (r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) PageSize(pageSize int64) ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) PageToken(pageToken string) ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest {
	r.pageToken = &pageToken
	return r
}

func (r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) Execute() (*ListQrcodeTemplatesResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceListQrcodeTemplatesExecute(r)
}

/*
QrcodeTemplatesServiceListQrcodeTemplates List my QR code templates

Retrieve QR code templates that belong to the authenticated caller's workspace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceListQrcodeTemplates(ctx context.Context) ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest {
	return ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListQrcodeTemplatesResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceListQrcodeTemplatesExecute(r ApiQrcodeTemplatesServiceListQrcodeTemplatesRequest) (*ListQrcodeTemplatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListQrcodeTemplatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceListQrcodeTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	slug string
	include *[]string
}

// Related objects to include in the response  List of related objects to include. Supported values: &#39;workspace&#39;
func (r ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest) Include(include []string) ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest {
	r.include = &include
	return r
}

func (r ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest) Execute() (*PublicQrcodeTemplate, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServicePublicGetQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServicePublicGetQrcodeTemplate Get a public QR code template

Retrieve a single published QR code template that is visible in the public gallery.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param slug
 @return ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublicGetQrcodeTemplate(ctx context.Context, slug string) ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		slug: slug,
	}
}

// Execute executes the request
//  @return PublicQrcodeTemplate
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublicGetQrcodeTemplateExecute(r ApiQrcodeTemplatesServicePublicGetQrcodeTemplateRequest) (*PublicQrcodeTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicQrcodeTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServicePublicGetQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/public/qrcode-templates/{slug}"
	localVarPath = strings.Replace(localVarPath, "{"+"slug"+"}", url.PathEscape(parameterValueToString(r.slug, "slug")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	include *[]string
	search *string
	pageSize *int64
	pageToken *string
	workspaceId *string
}

// Related objects to include in the response  List of related objects to include. Supported values: &#39;workspace&#39;
func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) Include(include []string) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	r.include = &include
	return r
}

// Search query applied to template name/description
func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) Search(search string) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	r.search = &search
	return r
}

// Maximum number of templates to return (defaults to 20)
func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) PageSize(pageSize int64) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	r.pageSize = &pageSize
	return r
}

// Cursor token to retrieve the next page of results
func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) PageToken(pageToken string) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	r.pageToken = &pageToken
	return r
}

// Optional workspace ID to filter templates by workspace  Filter public templates by workspace. Only published templates for that workspace will be returned.
func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) WorkspaceId(workspaceId string) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	r.workspaceId = &workspaceId
	return r
}

func (r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) Execute() (*PublicListQrcodeTemplatesResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServicePublicListQrcodeTemplatesExecute(r)
}

/*
QrcodeTemplatesServicePublicListQrcodeTemplates List QR code templates

Retrieve available QR code templates, optionally filtered by search terms or link destination.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublicListQrcodeTemplates(ctx context.Context) ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest {
	return ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PublicListQrcodeTemplatesResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublicListQrcodeTemplatesExecute(r ApiQrcodeTemplatesServicePublicListQrcodeTemplatesRequest) (*PublicListQrcodeTemplatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublicListQrcodeTemplatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServicePublicListQrcodeTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/public/qrcode-templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.include != nil {
		t := *r.include
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "include", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "include", t, "form", "multi")
		}
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	}
	if r.pageToken != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageToken", r.pageToken, "form", "")
	}
	if r.workspaceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workspaceId", r.workspaceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	id string
	body *map[string]interface{}
}

func (r ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest) Body(body map[string]interface{}) ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest {
	r.body = &body
	return r
}

func (r ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest) Execute() (*PublishQrcodeTemplateResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServicePublishQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServicePublishQrcodeTemplate Publish a workspace QR code template

Publish a QR code template to make it available in the public gallery. Requires workspace to be public and template to have slug, description, and name.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the QR code template to publish (UUID)
 @return ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublishQrcodeTemplate(ctx context.Context, id string) ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PublishQrcodeTemplateResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServicePublishQrcodeTemplateExecute(r ApiQrcodeTemplatesServicePublishQrcodeTemplateRequest) (*PublishQrcodeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PublishQrcodeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServicePublishQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates/{id}/publish"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest struct {
	ctx context.Context
	ApiService *QRCodeTemplatesAPIService
	id string
	qrcodeTemplatesServiceUpdateQrcodeTemplateBody *QrcodeTemplatesServiceUpdateQrcodeTemplateBody
}

func (r ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest) QrcodeTemplatesServiceUpdateQrcodeTemplateBody(qrcodeTemplatesServiceUpdateQrcodeTemplateBody QrcodeTemplatesServiceUpdateQrcodeTemplateBody) ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest {
	r.qrcodeTemplatesServiceUpdateQrcodeTemplateBody = &qrcodeTemplatesServiceUpdateQrcodeTemplateBody
	return r
}

func (r ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest) Execute() (*UpdateQrcodeTemplateResponse, *http.Response, error) {
	return r.ApiService.QrcodeTemplatesServiceUpdateQrcodeTemplateExecute(r)
}

/*
QrcodeTemplatesServiceUpdateQrcodeTemplate Update a workspace QR code template

Modify the name or description of a QR code template owned by the authenticated workspace.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the QR code template to update (UUID)
 @return ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest
*/
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceUpdateQrcodeTemplate(ctx context.Context, id string) ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest {
	return ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UpdateQrcodeTemplateResponse
func (a *QRCodeTemplatesAPIService) QrcodeTemplatesServiceUpdateQrcodeTemplateExecute(r ApiQrcodeTemplatesServiceUpdateQrcodeTemplateRequest) (*UpdateQrcodeTemplateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateQrcodeTemplateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QRCodeTemplatesAPIService.QrcodeTemplatesServiceUpdateQrcodeTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/qrcode-templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.qrcodeTemplatesServiceUpdateQrcodeTemplateBody == nil {
		return localVarReturnValue, nil, reportError("qrcodeTemplatesServiceUpdateQrcodeTemplateBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.qrcodeTemplatesServiceUpdateQrcodeTemplateBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
