/*
Linkbreakers API

This is a documentation of all the APIs of Linkbreakers  ## Entry points  `GET https://api.linkbreakers.com/` and `GET https://api.linkbreakers.com/v1` answer without credentials with the API's name, version and links. This document is served at `https://api.linkbreakers.com/openapi.json`.  ## Rate limits  Every response describes where the caller stands in the IETF `RateLimit-Policy` and `RateLimit` header fields (draft-ietf-httpapi-ratelimit-headers), and in `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset` and `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` (a Unix timestamp) for clients that read those. A request past the limit gets `429 Too Many Requests` with `Retry-After` in seconds.  - Workspace API token: 600 requests per 60 seconds, per token. - Dashboard session or OAuth token: 500 requests per 60 seconds, per token. - No credentials: 300 requests per 60 seconds, per client IP.  Each plan also includes a number of API calls per billing cycle. Past it, calls answer `429` with the code `MAX_PUBLIC_API_QUERIED_REACHED` until the cycle renews or the plan changes.  ## Pagination  Every list pages with opaque cursors (AIP-158). Pass `pageSize`, then send the `nextPageToken` of each response back as `pageToken` (or its alias `cursor`) to get the next page. An empty or absent `nextPageToken` means the list is complete. Each list operation describes this in `x-pagination`.  ## Batches and background jobs  `POST /v1/links/bulk` creates up to 250 links in one transactional request; `POST /v1/links/batch` takes the same links as a bare JSON array. `POST /v1/links/bulk/jobs` accepts the same batch and answers `202 Accepted` at once with a job and a `Location` header; poll `GET /v1/jobs/{id}` until `status` is `JOB_STATUS_SUCCEEDED` (the created link ids are in `linksBulkCreate.linkIds`) or `JOB_STATUS_FAILED` (`error` says why, and nothing was created). Jobs can be read for 24 hours after they finish.  ## Versioning and deprecation  The version is in the path: every operation lives under `/v1`. Within a version, changes are additive only: new operations, new optional request fields, new response fields and new enum values. Clients should ignore fields and enum values they do not know. Anything that would break an existing client ships under a new path version instead.  An operation is retired in two steps. First it is deprecated: it keeps working, is flagged `deprecated: true` in this document, and every response carries a `Deprecation` header field (RFC 9745) with the time it was deprecated and a `Link` with `rel=\"deprecation\"` to the policy. Then, at least 180 days later, it may be removed; that date is announced in advance in a `Sunset` header field (RFC 8594) and as `x-sunset` on the operation. The full policy: https://linkbreakers.com/help/article/api-versioning-and-deprecation-policy  ## Idempotent retries  Every POST, PUT and PATCH accepts an optional `Idempotency-Key` header (draft-ietf-httpapi-idempotency-key-header). Send a new unique value, such as a UUID, with each logical request and reuse it only to retry that request. A retry with the same key and the same request returns the first response, marked `Idempotent-Replayed: true`, instead of running again. Keys are scoped to the token and kept for 24 hours. The same key with a different request is refused with `422`, and a retry while the first request is still running gets `409` with `Retry-After`. Server errors (5xx) and refusals such as 401, 403 and 429 are not stored, so retrying them runs the request again.

API version: 1.159.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package linkbreakers

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AnalyticsDataAPIService AnalyticsDataAPI service
type AnalyticsDataAPIService service

type ApiAnalyticsDataServiceGetAttributeDistributionRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getAttributeDistributionRequest *GetAttributeDistributionRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetAttributeDistributionRequest) GetAttributeDistributionRequest(getAttributeDistributionRequest GetAttributeDistributionRequest) ApiAnalyticsDataServiceGetAttributeDistributionRequest {
	r.getAttributeDistributionRequest = &getAttributeDistributionRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetAttributeDistributionRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetAttributeDistributionRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetAttributeDistributionRequest) Execute() (*GetAttributeDistributionResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetAttributeDistributionExecute(r)
}

/*
AnalyticsDataServiceGetAttributeDistribution Get visitor attribute distribution

Returns how visitors are spread across the values of one attribute, for example how many gave each rating.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetAttributeDistributionRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeDistribution(ctx context.Context) ApiAnalyticsDataServiceGetAttributeDistributionRequest {
	return ApiAnalyticsDataServiceGetAttributeDistributionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetAttributeDistributionResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeDistributionExecute(r ApiAnalyticsDataServiceGetAttributeDistributionRequest) (*GetAttributeDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAttributeDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetAttributeDistribution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/attributes/distribution"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getAttributeDistributionRequest == nil {
		return localVarReturnValue, nil, reportError("getAttributeDistributionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getAttributeDistributionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetAttributeMetricRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getAttributeMetricRequest *GetAttributeMetricRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetAttributeMetricRequest) GetAttributeMetricRequest(getAttributeMetricRequest GetAttributeMetricRequest) ApiAnalyticsDataServiceGetAttributeMetricRequest {
	r.getAttributeMetricRequest = &getAttributeMetricRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetAttributeMetricRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetAttributeMetricRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetAttributeMetricRequest) Execute() (*GetAttributeMetricResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetAttributeMetricExecute(r)
}

/*
AnalyticsDataServiceGetAttributeMetric Get visitor attribute metric

Returns count, average, minimum and maximum for a visitor attribute, plus how much of the audience carries it.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetAttributeMetricRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeMetric(ctx context.Context) ApiAnalyticsDataServiceGetAttributeMetricRequest {
	return ApiAnalyticsDataServiceGetAttributeMetricRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetAttributeMetricResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeMetricExecute(r ApiAnalyticsDataServiceGetAttributeMetricRequest) (*GetAttributeMetricResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAttributeMetricResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetAttributeMetric")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/attributes/metric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getAttributeMetricRequest == nil {
		return localVarReturnValue, nil, reportError("getAttributeMetricRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getAttributeMetricRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetAttributeValuesRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getAttributeValuesRequest *GetAttributeValuesRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetAttributeValuesRequest) GetAttributeValuesRequest(getAttributeValuesRequest GetAttributeValuesRequest) ApiAnalyticsDataServiceGetAttributeValuesRequest {
	r.getAttributeValuesRequest = &getAttributeValuesRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetAttributeValuesRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetAttributeValuesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetAttributeValuesRequest) Execute() (*GetAttributeValuesResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetAttributeValuesExecute(r)
}

/*
AnalyticsDataServiceGetAttributeValues List visitor attribute values

Returns the individual recorded values of one attribute, most recent first. Intended for free text such as comments.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetAttributeValuesRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeValues(ctx context.Context) ApiAnalyticsDataServiceGetAttributeValuesRequest {
	return ApiAnalyticsDataServiceGetAttributeValuesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetAttributeValuesResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetAttributeValuesExecute(r ApiAnalyticsDataServiceGetAttributeValuesRequest) (*GetAttributeValuesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAttributeValuesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetAttributeValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/attributes/values"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getAttributeValuesRequest == nil {
		return localVarReturnValue, nil, reportError("getAttributeValuesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getAttributeValuesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetBreakdownRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getBreakdownRequest *GetBreakdownRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetBreakdownRequest) GetBreakdownRequest(getBreakdownRequest GetBreakdownRequest) ApiAnalyticsDataServiceGetBreakdownRequest {
	r.getBreakdownRequest = &getBreakdownRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetBreakdownRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetBreakdownRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetBreakdownRequest) Execute() (*GetBreakdownResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetBreakdownExecute(r)
}

/*
AnalyticsDataServiceGetBreakdown Get dimension breakdown

Returns a ranked breakdown of events by any dimension (browser, platform, device type, country, city, visit type).

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetBreakdownRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetBreakdown(ctx context.Context) ApiAnalyticsDataServiceGetBreakdownRequest {
	return ApiAnalyticsDataServiceGetBreakdownRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetBreakdownResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetBreakdownExecute(r ApiAnalyticsDataServiceGetBreakdownRequest) (*GetBreakdownResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetBreakdownResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetBreakdown")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/breakdown"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getBreakdownRequest == nil {
		return localVarReturnValue, nil, reportError("getBreakdownRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getBreakdownRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetDeviceDistributionRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getDeviceDistributionRequest *GetDeviceDistributionRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetDeviceDistributionRequest) GetDeviceDistributionRequest(getDeviceDistributionRequest GetDeviceDistributionRequest) ApiAnalyticsDataServiceGetDeviceDistributionRequest {
	r.getDeviceDistributionRequest = &getDeviceDistributionRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetDeviceDistributionRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetDeviceDistributionRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetDeviceDistributionRequest) Execute() (*GetDeviceDistributionResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetDeviceDistributionExecute(r)
}

/*
AnalyticsDataServiceGetDeviceDistribution Get device distribution

Retrieve event distribution across device types.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetDeviceDistributionRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetDeviceDistribution(ctx context.Context) ApiAnalyticsDataServiceGetDeviceDistributionRequest {
	return ApiAnalyticsDataServiceGetDeviceDistributionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetDeviceDistributionResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetDeviceDistributionExecute(r ApiAnalyticsDataServiceGetDeviceDistributionRequest) (*GetDeviceDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetDeviceDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetDeviceDistribution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/devices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getDeviceDistributionRequest == nil {
		return localVarReturnValue, nil, reportError("getDeviceDistributionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getDeviceDistributionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetGeoBreakdownRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getGeoBreakdownRequest *GetGeoBreakdownRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetGeoBreakdownRequest) GetGeoBreakdownRequest(getGeoBreakdownRequest GetGeoBreakdownRequest) ApiAnalyticsDataServiceGetGeoBreakdownRequest {
	r.getGeoBreakdownRequest = &getGeoBreakdownRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetGeoBreakdownRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetGeoBreakdownRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetGeoBreakdownRequest) Execute() (*GetGeoBreakdownResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetGeoBreakdownExecute(r)
}

/*
AnalyticsDataServiceGetGeoBreakdown Get geographic breakdown

Retrieve geographic distribution of events grouped by country or city.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetGeoBreakdownRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetGeoBreakdown(ctx context.Context) ApiAnalyticsDataServiceGetGeoBreakdownRequest {
	return ApiAnalyticsDataServiceGetGeoBreakdownRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetGeoBreakdownResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetGeoBreakdownExecute(r ApiAnalyticsDataServiceGetGeoBreakdownRequest) (*GetGeoBreakdownResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetGeoBreakdownResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetGeoBreakdown")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/geo"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getGeoBreakdownRequest == nil {
		return localVarReturnValue, nil, reportError("getGeoBreakdownRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getGeoBreakdownRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getGroupedTimeSeriesRequest *GetGroupedTimeSeriesRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest) GetGroupedTimeSeriesRequest(getGroupedTimeSeriesRequest GetGroupedTimeSeriesRequest) ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest {
	r.getGroupedTimeSeriesRequest = &getGroupedTimeSeriesRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest) Execute() (*GetGroupedTimeSeriesResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetGroupedTimeSeriesExecute(r)
}

/*
AnalyticsDataServiceGetGroupedTimeSeries Get grouped time series

Retrieve time-bucketed event counts grouped by a dimension like country, city, device type, or visit type.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetGroupedTimeSeries(ctx context.Context) ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest {
	return ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetGroupedTimeSeriesResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetGroupedTimeSeriesExecute(r ApiAnalyticsDataServiceGetGroupedTimeSeriesRequest) (*GetGroupedTimeSeriesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetGroupedTimeSeriesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetGroupedTimeSeries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/timeseries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getGroupedTimeSeriesRequest == nil {
		return localVarReturnValue, nil, reportError("getGroupedTimeSeriesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getGroupedTimeSeriesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetHourOfDayDistributionRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getHourOfDayDistributionRequest *GetHourOfDayDistributionRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetHourOfDayDistributionRequest) GetHourOfDayDistributionRequest(getHourOfDayDistributionRequest GetHourOfDayDistributionRequest) ApiAnalyticsDataServiceGetHourOfDayDistributionRequest {
	r.getHourOfDayDistributionRequest = &getHourOfDayDistributionRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetHourOfDayDistributionRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetHourOfDayDistributionRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetHourOfDayDistributionRequest) Execute() (*GetHourOfDayDistributionResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetHourOfDayDistributionExecute(r)
}

/*
AnalyticsDataServiceGetHourOfDayDistribution Get hour of day distribution

Retrieve event counts aggregated by hour of day for identifying peak activity times.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetHourOfDayDistributionRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetHourOfDayDistribution(ctx context.Context) ApiAnalyticsDataServiceGetHourOfDayDistributionRequest {
	return ApiAnalyticsDataServiceGetHourOfDayDistributionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetHourOfDayDistributionResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetHourOfDayDistributionExecute(r ApiAnalyticsDataServiceGetHourOfDayDistributionRequest) (*GetHourOfDayDistributionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetHourOfDayDistributionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetHourOfDayDistribution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/hours"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getHourOfDayDistributionRequest == nil {
		return localVarReturnValue, nil, reportError("getHourOfDayDistributionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getHourOfDayDistributionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetStepFunnelRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getStepFunnelRequest *GetStepFunnelRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetStepFunnelRequest) GetStepFunnelRequest(getStepFunnelRequest GetStepFunnelRequest) ApiAnalyticsDataServiceGetStepFunnelRequest {
	r.getStepFunnelRequest = &getStepFunnelRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetStepFunnelRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetStepFunnelRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetStepFunnelRequest) Execute() (*GetStepFunnelResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetStepFunnelExecute(r)
}

/*
AnalyticsDataServiceGetStepFunnel Get workflow step funnel

Returns the workflow steps visitors reached, in distinct visitors, ordered from arrival to exit, with the conversion rate and drop-off at each step.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetStepFunnelRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetStepFunnel(ctx context.Context) ApiAnalyticsDataServiceGetStepFunnelRequest {
	return ApiAnalyticsDataServiceGetStepFunnelRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetStepFunnelResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetStepFunnelExecute(r ApiAnalyticsDataServiceGetStepFunnelRequest) (*GetStepFunnelResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetStepFunnelResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetStepFunnel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/funnel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getStepFunnelRequest == nil {
		return localVarReturnValue, nil, reportError("getStepFunnelRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getStepFunnelRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetTopLinksRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getTopLinksRequest *GetTopLinksRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetTopLinksRequest) GetTopLinksRequest(getTopLinksRequest GetTopLinksRequest) ApiAnalyticsDataServiceGetTopLinksRequest {
	r.getTopLinksRequest = &getTopLinksRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetTopLinksRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetTopLinksRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetTopLinksRequest) Execute() (*GetTopLinksResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetTopLinksExecute(r)
}

/*
AnalyticsDataServiceGetTopLinks Get top performing links

Retrieve links ranked by event count for identifying best performing QR codes and links.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetTopLinksRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetTopLinks(ctx context.Context) ApiAnalyticsDataServiceGetTopLinksRequest {
	return ApiAnalyticsDataServiceGetTopLinksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetTopLinksResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetTopLinksExecute(r ApiAnalyticsDataServiceGetTopLinksRequest) (*GetTopLinksResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetTopLinksResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetTopLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/top-links"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getTopLinksRequest == nil {
		return localVarReturnValue, nil, reportError("getTopLinksRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getTopLinksRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAnalyticsDataServiceGetVisitorTrendsRequest struct {
	ctx context.Context
	ApiService *AnalyticsDataAPIService
	getVisitorTrendsRequest *GetVisitorTrendsRequest
	idempotencyKey *string
}

func (r ApiAnalyticsDataServiceGetVisitorTrendsRequest) GetVisitorTrendsRequest(getVisitorTrendsRequest GetVisitorTrendsRequest) ApiAnalyticsDataServiceGetVisitorTrendsRequest {
	r.getVisitorTrendsRequest = &getVisitorTrendsRequest
	return r
}

// Makes retrying this request safe. See components.parameters.IdempotencyKey.
func (r ApiAnalyticsDataServiceGetVisitorTrendsRequest) IdempotencyKey(idempotencyKey string) ApiAnalyticsDataServiceGetVisitorTrendsRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiAnalyticsDataServiceGetVisitorTrendsRequest) Execute() (*GetVisitorTrendsResponse, *http.Response, error) {
	return r.ApiService.AnalyticsDataServiceGetVisitorTrendsExecute(r)
}

/*
AnalyticsDataServiceGetVisitorTrends Get visitor trends

Retrieve new vs returning visitor counts over time.

Requires the `analytics:read` scope.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAnalyticsDataServiceGetVisitorTrendsRequest
*/
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetVisitorTrends(ctx context.Context) ApiAnalyticsDataServiceGetVisitorTrendsRequest {
	return ApiAnalyticsDataServiceGetVisitorTrendsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetVisitorTrendsResponse
func (a *AnalyticsDataAPIService) AnalyticsDataServiceGetVisitorTrendsExecute(r ApiAnalyticsDataServiceGetVisitorTrendsRequest) (*GetVisitorTrendsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetVisitorTrendsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsDataAPIService.AnalyticsDataServiceGetVisitorTrends")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/analytics/visitors"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.getVisitorTrendsRequest == nil {
		return localVarReturnValue, nil, reportError("getVisitorTrendsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.idempotencyKey != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	}
	// body params
	localVarPostBody = r.getVisitorTrendsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
